section#pai {
    width: 50%;
    height: 100vh;
}

#container1, #container2, #container3 {
    display: flex;
    flex: row;
    justify-content: space-around ;
    align-content: space-around;
    width: 100%;      
    background-color: rgb(255, 254, 254);
    flex-wrap: no-wrap;
    
}
div {
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: rgb(221, 221, 2);
    color: rgb(177, 47, 47);
    box-sizing: border-box;
    border: rgb(250, 103, 103) solid 3px;
    box-shadow: rgb(250, 103, 103) -5px 5px;    
}

.forma {
    flex-grow: 2;    
}
