section#pai {
    width: 100%;
    height: 100vh;
}

#container1, #container2, #container3, #container4, #container5, #container6 {
    display: flex;
    flex: row;
    justify-content: space-around ;
    align-content: space-around;
    width: 100%;      
    background-color: tomato;
    flex-wrap: no-wrap;
}
div {
    width: 80px;
    height: 80px;
    margin: 10px;
    background-color: rgb(221, 221, 2);
    color: rgb(53, 53, 53);
}

div#item1 {
    flex-grow: 12;    
}
.itemlinha2 {
    flex-grow: 6;
}
.itemlinha3 {
    flex-grow: 4;
}
.itemlinha4 {
    flex-grow: 3;
}
.itemlinha5 {
    flex-grow: 2;
}
